.market-place-filter__input_section {
  margin-top: 10px;
  align-items: center;

  input {
    background: unset;
    width: 100%;
    max-width: 300px;
    border: 1px solid #e5e5e5;
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    font-size: 15px;
  }
}
