.market-place--nav__nav_buttons {
  button {
    padding: 0 20px;
    border-left: 1px solid rgba(#fff, 0.5);

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover,
    &:active,
    &:focus {
      background: unset;

      svg {
        color: red;
        transition: color 0.3s ease;
      }
    }

    &:first-child {
      border-left: none;
    }
  }
}

.market-place--nav__nav_bottom_buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #000;
  left: 0;
  height: 60px;
  padding: 0 15px;
  max-width: 1200px;
  transition: color 0.3s ease;
  z-index: 100;

  svg {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease;
  }

  button:hover,
  button:hover svg {
    color: red;
  }
}

.market-place--nav--hamburger {
  outline: none;
  &:hover {
    background: unset;

    svg {
      color: red;
      transition: color 0.3s ease;
    }
  }
}
