html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f5f8f9 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.uploadcare--widget__button,
.uploadcare--button,
.uploadcare--button_primary,
.uploadcare--widget__button_type_open,
.uploadcare--button_primary {
  background-color: #ff0000;
  cursor: pointer;
  border: #ff0000;
}
.uploadcare--widget__button:hover,
.uploadcare--widget__button:active {
  background-color: #fc5a5a;
}

.uploadcare--widget__button_type_open:focus,
.uploadcare--button_primary:focus,
.uploadcare--button_primary:hover,
.uploadcare--widget__button_type_open:hover {
  background-color: #fc5a5a;
}
.editor {
  border: 1px solid #f5f8f9;
  border-top-width: 1px;
  border-top-width: 0;
  padding: 5px;
}
